@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;900&display=swap');
body{
    background-color: #000;
    color: #fff;
    font-family: "poppins";;
}
div{
    border: 0px #f00 solid;
}
.outer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
}
#group2, #group3 {
    display: none;
}
.timer-outer-container{
    display: grid;
    gap: 0.75vw;
    padding: 0.75vw;
    background-color: #222;
    border-radius: 0.75vw;
    height: fit-content
}
.time-cont{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 0.5vw;
    height: 15vw
}
.time{
    font-size: 1.75vw;
    font-family: "Chivo Mono";
}
.controls-inner-cont{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 0.75vw;
}
.settings-inner-cont{
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.75vw;
}
.description{
    width: 100%;
    text-align: center;
    transition: 0.2s background;
}
input.description{
    border: 0px;
    color: #fff;
    background: #0000;
}
input.description::placeholder{
    color: #aaa
}
input:focus{
    outline: none;
}
input{
    background-color: #0005;
    color: #fff;
    border: none;
    border-radius: 0.5vw;
    width: 100%;
    text-align: center;
    font-size: 1.2vw;
    font-family: inherit;
    margin: 0;
    padding: 0;
    color-scheme: dark;
}
input::placeholder{
    mix-blend-mode:hard-light;
    color: #ddd
}
input[type=datetime-local]{
    background:#0005;
    -webkit-min-logical-width: calc(100% - 1vw);
}
input[type=datetime-local]::placeholder{
    background: #2b8561;
}
button{
    background-color: #0005;
    color: #fff;
    border: none;
    border-radius: 0.5vw;
    font-size: 1.2vw;
    font-family: inherit;
    padding: 0vw;
    transition: 0.2s background;
}
.show-settings{
    background-color: #0005;
}
button:hover{
    background: #fff3;
    transition: 0.2s background;
}
.top-button{
    padding: 0.15vw 0.4vw 0.15vw 0.4vw;
    background-color: #0f7a3c;
    grid-column: span 3;
}
.group-button{
    padding: 0.15vw 0.4vw 0.15vw 0.4vw;
    background-color: #0f7a3c;
    grid-column: span 4;
}
.selected{
    background-color: #23a459;
}
.group-button.selected:hover{
    background-color: #23a459;
}
button.top-button:hover, button.group-button:hover{
    background-color: #1b8b49;
}
.top-buttons{
    margin-bottom: 0.75vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.75vw;
}
input.top-button{
    width: calc(100% - 0.75vw);
    background-color: #065427;
}
input.top-button::placeholder{
    color: #61b08b;
    mix-blend-mode: normal;
}
.color{
    grid-column: span 5;
}
.border-color{
    grid-column: span 5;
}
.back-button{
    grid-column: span 5;
}
.time-text-color{
    grid-column: span 5;
}
.text-color{
    grid-column: span 5;
}
.delete-button:hover{
    background: #ba4848;
}
.delete-button{
    background: #ad3d3d;
    grid-column: span 2;
}
.settings-text{
    font-size: 0.9vw;
    align-self: center;
    grid-column: span 2;
}
.span-group{
    display: none;
}
@media(max-width:600px){
    .outer-container{
        grid-template-columns: 1fr;
        gap: 2vw
    }
    .timer-outer-container{
        padding: 2vw;
        border-radius: 2vw;
        gap: 2vw
    }
    .time-cont{
        height: 38vw;
        margin-bottom: 0vw;
        border-radius: 1.75vw;
    }
    .time{
        font-size: 5vw;
    }
    .description{
        padding: 1.5vw;
    }
    button{
        font-size: 3vw;
        transition: 0.2s background;
        border-radius: 2vw;
    }
    .controls-inner-cont{
        grid-template-columns: 5fr 2fr;
        gap: 2vw;
    }
    .settings-inner-cont{
        gap: 2vw;
    }
    input{
        border-radius: 1.75vw;
        text-align: center;
        font-size: 3vw;
    }
    input[type=datetime-local]{
        -webkit-min-logical-width: calc(100% - 2vw);
        height: 100%;
    }
    .top-buttons{
        text-align: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 2vw;
        margin-bottom: 2vw;
    }
    .top-button{
        padding: 0.3vw 1.2vw;
        grid-column: span 3;
    }
    .group-button{
        grid-column: span 2;
    }
    input.top-button{
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .settings-text{
        font-size: 2.53vw;
    }
}