@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;900&display=swap');
body{
    background: #000;
    font-family: poppins;
}
#outer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
    background: none;
    margin-top: 1vw;
}
div{
    overflow: hidden;
}
.timer-outer-cont{
    padding: 0.75vw;
    height: 18vw;
    background: #045527;
    border-radius: 0.75vw;
}
.time-inner-cont{
    height: 15vw;
    margin-bottom: 0.75vw;
    background: #000;
    border-radius: 0.5vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.settings-inner-cont{
    height: 2.25vw;
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 5fr 5fr 1fr; 
    gap: 1vw;
}
.time{
    color: #fff;
    font-size: 1.75vw;
    font-family: "Chivo Mono";
}
button{
    margin: none;
    padding: none;
    font-family: inherit;
    font-size: 1.3vw;
    transition: 0.2s;
    background: #10813f;
    border: none;
    color: #fff;
    border-radius: 0.5vw;
}
button:hover{
    background: #1b8b49;
}
.settings{
    background: #10813f;
    border: none;
    color: #fff;
    border-radius: 0.5vw;
}
.delete{
    background: #ad3d3d;
    font-size: 1.3vw;
    height: 2.25vw;
    margin: 0;
    padding: 0;
    width: 2.25vw;
}
.delete:hover{
    background: #ba4848;
}
input{
    background:#0f7a3c;
    color: #a5f8d1;
    border: none;
    border-radius: 0.5vw;
    width: 4.4vw;
    text-align: center;
    font-size: 1.2vw;
    font-family: inherit;
    margin: 0;
    padding: 0;
    height: 2.25vw;
}
input::placeholder{
    color: #49c694
}
input:focus{
    outline:none;
}
.timer-desc{
    background: none;
    color: #fff;
    text-align: center;
    width: 100%;
}
.timer-desc::placeholder{
    color: #aaa;
}
#load-code-input{
    width: fit-content;
    height: 2.25vw;
    background:#065427;
    font-size: 1.3vw;
}
#load-code-input::placeholder{
    color: #61b08b;
    
}
.top-buttons{
    height: 2.25vw;
}
#button-container{
    display: flex;
    flex-direction: row;
}
@media(max-width:600px){
    #outer-container{
        grid-template-columns: 1fr;
    }
    .timer-outer-cont{
        padding: 2vw;
        height: 45vw;
        border-radius: 2vw;
    }
    .time-inner-cont{
        height: 38vw;
        margin-bottom: 2vw;
        border-radius: 1.75vw;
    }
    .time{
        font-size: 5vw;
    }
    button{
        font-size: 4vw;
        transition: 0.2s;
        border-radius: 2vw;
    }
    .delete{
        background: #ad3d3d;
        font-size: 3vw;
        height: 5vw;
        margin: 0;
        padding: 0;
        width: 5vw;
        border-radius: 1.75vw;
    }
    .settings-inner-cont{
        height: 5vw;
    }
    input{
        border-radius: 1.75vw;
        width: 15.2vw;
        text-align: center;
        font-size: 3vw;
        height: 5vw;
    }
    .top-buttons{
        height: 5vw;
        font-size: 3vw;
    }
    #load-code-input{
        width: fit-content;
        height: 5vw;
        background:#065427;
        font-size: 3vw;
    }
    #button-container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
