@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
div{
    border-radius: 0.5vw;
    border: 0px solid #f00;
}
b{
    font-weight: 700;
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
body{
    background: #000;
    font-family: poppins;
    color: #fff;
    line-height: 1.9vw;
}
.outerContainer{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1vw;
    padding: 1vw 2vw 0 2vw;
}
.moduleOuterContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 0.75vw;
    padding: 0.75vw;
    background: #222;
}
.moduleDescription{
    height: 16.25vw;
    background: #444;
    overflow-y: scroll;
    border-radius: 0.5vw;
    padding: 0.75vw;
    scrollbar-width: none;
}
.moduleInput{
    background: #444;
    overflow-y: scroll;
    border-radius: 0.5vw;
    padding: 0.75vw;
    scrollbar-width: none;
    height: 16.25vw;
}
.moduleInputInnerContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75vw;
    height: fit-content;
}
.moduleOutput{
    height: 16.25vw;
    background: #333;
    overflow-y: scroll;
    border-radius: 0.5vw;
    padding: 0.75vw;
    scrollbar-width: none;
    text-wrap:wrap;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    font-family: "Chivo Mono";
}
.color{
    display: grid;
    gap: 0.75vw;
}
.colorOutput{
    height: 12vw;
    background: #181818;
}
.colorOutputOptions{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 0.75vw;
    height: 100%;
}
.colorOutputInnerCont{
    display: grid;
    gap: 0.75vw;
    grid-template-columns: 1fr;
}
.outputOptions{
    margin-bottom: 0;
    margin: 0;
    padding: 0;
    font-family: "Chivo Mono";
}
input.outputOptions{
    text-align: center;
    background: #444;
}
.moduleInputFlex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75vw;
}
.groupOuterContainer{
    display: grid;
    gap: 1.25vw;
    grid-template-columns: 1fr;
    padding: 1vw;
    background: #111;
    margin: 2vw 0 2vw 0
}
.groupHeading{
    font-size: 2.25vw;
    font-weight: 600;
}
.groupBody{
    font-size: 1.50vw;
    font-weight: 400;
}
.moduleHeading{
    font-size: 1.75vw;
    font-weight: 500;
}
.moduleBody{
    font-size: 1.2vw;
}
.outputText{
    text-align: center;
    font-size: 2vw
}
input{
    background:#13713a;
    color: #fff;
    border: none;
    height: 3.5vw;
    border-radius: 0.5vw;
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    font-family: inherit;
    padding: 0;
}
input:focus{
    outline:none;
}
input::placeholder{
    color: #79e6ba;
    align-self: center;
}
input:disabled{
    color: #fff;
}
button{
    background:#16964c;
    color: #fff;
    border: none;
    height: 3.5vw;
    border-radius: 0.5vw;
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    font-family: inherit;
    padding: 0;
    transition: background 0.2s;
}
button:hover{
    background:#1ca856;
}
button:active{
    background:#24bd64;
    transition: none;
}
.longItem{
    grid-column-start: 1;
    grid-column-end: 3;
}
@media(max-width:700px){
    body{
        line-height: 5.25vw;
    }
    .outerContainer{
        gap: 3vw;
        padding: 1vw 1vw 0 1vw;
    }
    .moduleOuterContainer{
        grid-template-columns: 1fr;
        gap: 1.75vw;
        padding: 2vw;
        border-radius: 3vw;
    }
    .moduleDescription{
        padding: 2vw;
        border-radius: 1.5vw;
        height: fit-content;
    }
    .moduleInput{
        border-radius: 1.5vw;
        padding: 1.5vw;
        height: fit-content;
    }
    .moduleInputInnerContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5vw;
        height: fit-content;
    }
    .moduleOutput{
        border-radius: 1.5vw;
        padding: 1.5vw;
        height: 48.75vw;
    }
    .moduleHeading{
        font-size: 5vw;
        font-weight: 600;
    }
    .moduleBody{
        font-size: 3.5vw;
    }
    .groupOuterContainer{
        border-radius: 3vw;
        padding: 2vw;
        gap: 2.5vw;
    }
    .groupHeading{
        font-size: 5vw;
    }
    .groupBody{
        font-size: 4.5vw;
    }
    input{
        border: none;
        height: 11vw;
        border-radius: 1.5vw;
        font-size: 5vw;
    }
    button{
        height: 11vw;
        border-radius: 1.5vw;
        font-size: 5vw;
        font-family: inherit;
        padding: 0;
        transition: background 0.2s;
    }
    .text{
        height: fit-content;
        min-height: 6vw;
    }
    .color{
        display: grid;
        gap: 2vw;
    }
    .colorOutput{
        height: 35vw;
        background: #181818;
        border-radius: 1.5vw;
    }
    .colorOutputOptions{
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 2vw;
        height: 100%;
    }
    .colorOutputInnerCont{
        display: grid;
        gap: 0.75vw;
        grid-template-columns: 1fr;
    }
    .outputText{
        text-align: center;
        font-size: 6vw;
    }
}